#App{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    background-color: rgb(202, 202, 202);
}


#topPanel{
 height: 8%;
 width: 99%;
 background-color: rgb(202, 202, 202);
 outline: 0.1vw solid grey;
 display: flex;
 align-items: center;
 margin-top: 0.5%;
 margin-left: 0.5%;
 margin-right: 0.5%;
 
 border: 0.1vw solid white;
}


#Leftbar-topPanel{
    height: 80%;
    width: 0.05vw;
    float: left;
    margin-left: 0.1%;
    border-right: rgb(255, 255, 255) solid 0.15vw;
    border-left:rgb(156, 154, 154) solid 0.15vw;
    aspect-ratio: 16 / 9;
    margin-left: 0.5%;
}
.top-panel-item{
    float: left;
    position: relative;
    margin-left: 4%;
    font-weight: bold;
    font-size: 1.3vw;
    color: black;
}
.top-panel-link{
    color: black;
    text-decoration: none;
    user-select: none;
}













#leftPanel{
    background-color: rgb(202, 202, 202);
    width: 35%;
    height: 89%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    
    float: left;
    bottom: 0;
    outline: 0.1vw solid white;
    box-shadow: 0px 0px 2px 1.5px #000000;
}
#LeftPanel-Header{
    height: 7.5%;
    width: 100%;
    font-weight: bold;
    font-size: 1.3vw;
    border-bottom: 0.2vw solid grey;
    align-items: center;
    display: flex;
}
#LeftPanel-Body{
    height: 92%;
    width: 100%;
    background-color: white;
}
#LeftPanel-Body-Header{
    width: 100%;
    height: 7.5%;
    display: flex;
    align-items: center;
}
#LeftPanel-Desktop-holder{
    height: 90%;
    width: 25%;
    display: flex;
    align-items: center;
    
}
#LeftPanel-Desktop-icon{
    background-image: url("/src/assets/icons/desktop_old-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90%;
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}
#LeftPanel-Desktop-text{
      font-weight: bold;
      letter-spacing:0.05vh;
      font-size: 1.25vw;
      float: right;
      margin-right: 5%;
}








#leftPanel-Body-FirstLayer{
    width: 99%;
    margin-left: 1%;
    height: 8%;
}


#LeftPanel-FirstLayer-minimize{
    background-image: url("/src/assets/icons/minimize.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 8%;
    height: 100%;
    float: left;
}

#LeftPanel-FirstLayer-BenW-holder{
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
#LeftPanel-FirstLayer-BenW-icon{
    background-image: url("/src/assets/icons/computer_explorer-4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30%;
    height: 80%;
    margin-right: 5%;
}
#LeftPanel-FirstLayer-BenW-text{
    height: 7.5%;
    width: 7.5%;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}









#LeftPanel-Body-SecondLayer{
    float: left;
    width: 99%;
    height: 8%;
    margin-left: 1%;
    display: flex;
    align-items: center;

}
#LeftPanel-SecondLayer-minimize{
    background-image: url("/src/assets/icons/minimize.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 8%;
    margin-left: 7.5%;
    height: 100%;
    float: left;
}
#LeftPanel-SecondLayer-Portfolio-holder{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
#LeftPanel-SecondLayer-Portfolio-icon{
    background-image: url("/src/assets/icons/hard_disk_drive-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25%;
    height: 80%;
    float: left;
    margin-right: 3%;
    margin-left: 1%;
    float: left;
}
#LeftPanel-SecondLayer-Portfolio-text{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 5%;
    width: 90%;
}





#LeftPanel-Body-ThirdLayer{
   float: left;
   height: 70%;
   margin-left: 16%;
   width: 83%;
}
#LeftPanel-ThirdLayer-minimize1{
    background-image: url("/src/assets/icons/Expand.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10%;
    height: 10%;
    float: left;
    display: flex;
    align-items: center;
    margin: 0;
}
#LeftPanel-ThirdLayer-minimize2{
    background-image: url("/src/assets/icons/Expand.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10%;
    height: 10%;
    float: left;
    display: flex;
    align-items: center;
    margin: 0;
}
#LeftPanel-ThirdLayer-minimize3{
    background-image: url("/src/assets/icons/normal.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10%;
    height: 10%;
    float: left;
    display: flex;
    align-items: center;
    margin: 0;
}
#LeftPanel-Body-ThirdLayer-Certifications-holder{
    width: 89%;
    float: right;
    height: 10%;
    display: flex;
    align-items: center;
}
#LeftPanel-Body-ThirdLayer-Certifications-icon{
    background-image: url("/src/assets/icons/folder-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 7.5%;
    height: 70%;
    display: flex;
    align-items: center;
    margin-right: 2%;
    float: left;
    margin-top: 1%;
}
#LeftPanel-Body-ThirdLayer-Certifications-text{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-top: 1%;
}

#LeftPanel-Body-ThirdLayer-Projects-holder{
    width: 89%;
    float: right;
    height: 10%;
    display: flex;
    align-items: center;
    
}
#LeftPanel-Body-ThirdLayer-Projects-icon{
    background-image: url("/src/assets/icons/folder-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 7.5%;
    height: 70%;
    float: left;
    margin-right: 2%;
    margin-top: 1%;
}
#LeftPanel-Body-ThirdLayer-Projects-text{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-top: 1%;
}

#LeftPanel-Body-ThirdLayer-AboutMe-holder{
    width: 89%;
    float: right;
    display: flex;
    align-items: center;
    height: 10%;
}
#LeftPanel-Body-ThirdLayer-AboutMe-icon{
    background-image: url("/src/assets/icons/document-0.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 7.5%;
    height: 70%;
    float: left;
    margin-right: 2%;
    margin-top: 1%;
}
#LeftPanel-Body-ThirdLayer-AboutMe-text{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-top: 1%;
}






































#rightPanel{
    box-shadow: 0px 0px 2px 2px #000000;
    background-color: rgb(202, 202, 202);
    height: 89%;
    width: 62.5%;
    float: right;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 0.5%;
    outline: 0.1vw solid white;
}










