
#RightPanel-BenW-Holder{
    font-weight: bold;
    width: 100%;
    height: 6%;
    margin-top: 0.5%;
}
#RightPanel-BenW-icon{
    background-image: url("/src/assets/icons/computer_explorer-4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#RightPanel-BenW-text{
    float: left;
    width: 30%;
    display: flex;
      align-items: center;
      margin-left: 0.5%;
      height: 100%;
    
}
#RightPanel-BenW-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
}







#RightPanel-Portfolio-Holder{
    font-weight: bold;
    width: 100%;
    height: 6%;
    margin-top: 0.5%;
    
}
#RightPanel-Portfolio-icon{
    background-image: url("/src/assets/icons/hard_disk_drive-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
#RightPanel-Portfolio-text{
    float: left;
  width: 30%;
  display: flex;
    align-items: center;
    margin-left: 0.5%;
    height: 100%;
}
#RightPanel-Portfolio-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
}





#RightPanel-Portfolio-Subfolders-holder{
    font-weight: bold;
    width: 100%;
    height: 18%;
    margin-top: 0.5%;
}
#RightPanel-Portfolio-Subfolders-Certifications-holder{
    width: 100%;
    height: 33%;
}
#RightPanel-Portfolio-Subfolders-Certifications-icon{
    background-image: url("/src/assets/icons/folder-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 80%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
#RightPanel-Portfolio-Subfolders-Certifications-text{
    float: left;
    width: 52.5%;
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    height: 100%;
}
#RightPanel-Portfolio-Subfolders-Certifications-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
}


#RightPanel-Portfolio-Subfolders-Projects-holder{
    width: 100%;
    height: 33%;
    margin-top: 0.3333333%;
}
#RightPanel-Portfolio-Subfolders-Projects-icon{
    background-image: url("/src/assets/icons/folder-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 80%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
#RightPanel-Portfolio-Subfolders-Projects-text{
    float: left;
    width: 52.5%;
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    height: 100%;
}
#RightPanel-Portfolio-Subfolders-Projects-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
}


#RightPanel-Portfolio-Subfolders-AboutMe-holder{
    width: 100%;
    height: 33%;
    margin-top: 0.33333333333%;
}
#RightPanel-Portfolio-Subfolders-AboutMe-icon{
    background-image: url("/src/assets/icons/document-0.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 80%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
#RightPanel-Portfolio-Subfolders-AboutMe-text{
    float: left;
    width: 52.5%;
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    height: 100%;
}
#RightPanel-Portfolio-Subfolders-AboutMe-size{
    float: left;
    width: 5.5%;
    display: flex;
    align-items: center;
    height: 100%;
   
}
#RightPanel-Portfolio-Subfolders-AboutMe-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
}




#RightPanel-Certifications-Subfolders-holder{
    font-weight: bold;
    width: 100%;
    height: 12%;
    margin-top: 0.5%;
}
#RightPanel-Certifications-Subfolders-CyberSec-holder{
    width: 100%;
    height: 49.5%;
}
#RightPanel-Certifications-Subfolders-CyberSec-icon{
    background-image: url("/src/assets/icons/folder-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
#RightPanel-Certifications-Subfolders-CyberSec-text{
    float: left;
    width: 52.5%;
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    height: 100%;
}
#RightPanel-Certifications-Subfolders-CyberSec-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
}

#RightPanel-Certifications-Subfolders-Dev-holder{
    width: 100%;
    height: 49.5%;
    margin-top: 1%;
}
#RightPanel-Certifications-Subfolders-Dev-icon{
    background-image: url("/src/assets/icons/folder-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
#RightPanel-Certifications-Subfolders-Dev-text{
    float: left;
    width: 52.5%;
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    height: 100%;
}
#RightPanel-Certifications-Subfolders-Dev-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
}


#RightPanel-Projects-Subfolders-holder{
    font-weight: bold;
    width: 100%;
    height: 12%;
    margin-top: 0.5%;
  }
  #RightPanel-Projects-Subfolders-CyberSec-holder{
    width: 100%;
    height: 49.5%;
  }
  #RightPanel-Projects-Subfolders-CyberSec-icon{
    background-image: url("/src/assets/icons/folder-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #RightPanel-Projects-Subfolders-CyberSec-text{
    float: left;
    width: 52.5%;
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    height: 100%;
  }
  #RightPanel-Projects-Subfolders-CyberSec-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  #RightPanel-Projects-Subfolders-Dev-holder{
    width: 100%;
    height: 49.5%;
    margin-top: 1%;
  }
  #RightPanel-Projects-Subfolders-Dev-icon{
    background-image: url("/src/assets/icons/folder-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:4%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #RightPanel-Projects-Subfolders-Dev-text{
    float: left;
    width: 52.5%;
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    height: 100%;
  }
  #RightPanel-Projects-Subfolders-Dev-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
  }
  




#RightPanel-Portfolio-Subfolders-holder{
    font-weight: bold;
    width: 100%;
    height: 24%;
    margin-top: 0.5%;
}

.folder-holder{
    width: 100%;
    height: 25%;
    margin-top: 1%;
}
.folder-icon{
    background-image: url("/src/assets/icons/folder-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.folder-text{
    float: left;
    width: 52.5%;
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    height: 100%;
}
.folder-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
}

#Projects-Developement-RatingClients-HOLDER{
    font-weight: bold;
    width: 100%;
    height: 16%;
    margin-top: 0.5%;
    
}
.Projects-Developement-file-holder{
    width: 100%;
    height: 50%;
    margin-top: 1%;
}
.Projects-Developement-file-icon{
    background-image: url("/src/assets/icons/document-0.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 90%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}
.Projects-Developement-fileEXE-icon{
    background-image: url("/src/assets/icons/exe.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4%;
    height: 90%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}
.Projects-Developement-file-text{
    float: left;
    width: 38%;
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    height: 100%;
}
.Projects-Developement-file-size{
    float: left;
    width: 20.5%;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}
.Projects-Developement-file-type{
    float: right;
    width: 35.5%;
    display: flex;
    align-items: center;
    height: 100%;
}


















#RightPanel-Portfolio-Holder{
    font-weight: bold;
}

#RightPanel-Portfolio-Subfolders-holder{
    font-weight: bold;
}

#RightPanel-Projects-Subfolders-holder{
    font-weight: bold;
}

#RightPanel-Certifications-Subfolders-holder{
    font-weight: bold;
}

#RightPanel-AboutMe-Holder{
    font-weight: bold;
}








