@font-face {
    font-family: 'MyWebFont';
    src: url('/fonts/Windows98Font.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Windows98Font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Windows98Font.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/Windows98Font.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/Windows98Font.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/fonts/Windows98Font.svg') format('svg'); /* Legacy iOS */
  
  }

body{
    font-family:  'MyWebFont', Fallback, sans-serif;
    overflow: hidden;
}

#HomescreenBase{
    background-color: rgb(85,170,170);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}














#FileExplorer-App{
    width: 80%;
    height: 80%;
    background-color: white;
    position: absolute;
    left: 10%;
    top: 10%;
    border-left: rgb(0, 0, 0) solid 0.2vw;
    border-top: rgb(0, 0, 0) solid 0.2vw;
    border-right:rgb(0, 0, 0) solid 0.2vw;
    border-bottom:rgb(0, 0, 0) solid 0.2vw;
    outline: solid rgb(192, 192, 192) 0.5vh;
    align-items: center;
    
}

#top-bar{
    background-color: blue;
    align-items: center;
    display: flex;
    color: white;
    height: 7.5%;
    user-select: none;
    width: 100%;
}
#Exploring-top-bar{
    float: left;
    width: 74%;
    margin-left: 1%;
    font-size: 2vw;
    
}
#button-holder-top-bar{
    float: right;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 25%;
    height: 100%;
}

.topbar-bnt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    width: 15%;
    border: none;
    height: 85%;
    float: right;
    border-left: rgb(255, 251, 251) solid 0.1vw;
    border-top: rgb(255, 255, 255) solid 0.1vw;
    border-right:rgb(0, 0, 0) solid 0.1vw;
    border-bottom:rgb(0, 0, 0) solid 0.1vw;
    text-align: center;
    font-weight: bold;
    font-size: 2vh;
}
#app-body{
    height: 91.5%;
    width: 100%;
}

#FileExplorer-icon{
    background-image: url("/src/assets/icons/directory_explorer-5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 3.5%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}













.Icon-img{
    width: auto;
    min-width: 45%;
    max-width: 45%;
    height: auto;
    min-height: 50%;
    max-height: 50%;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: auto;
}

.Icon-text{
    color: rgb(255, 255, 255);
    font-size: 2vh;
    font-family:  'MyWebFont', Fallback, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#RecycleBin{
    
    user-select: none;
    width: auto;
    min-width: 17vh;
    max-width: 17vh;
    height: auto;
    min-height: 14vh;
    max-height: 14vh;
    aspect-ratio: 1.4 / 1.7;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    margin-top: 1%;
    text-align: center;
    
    
}
#RecycleBin-img{
    background-image: url("/src/assets/icons/recycle_bin_empty_cool-0.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#MyComputer{
    
    user-select: none;
    width: auto;
    min-width: 17vh;
    max-width: 17vh;
    height: auto;
    min-height: 14vh;
    max-height: 14vh;
    aspect-ratio: 1.4 / 1.7;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
}
#MyComputer-img{
    background-image: url("/src/assets/icons/computer_explorer_cool-0.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#MyDocuments{
    user-select: none;
    width: auto;
    min-width: 17vh;
    max-width: 17vh;
    height: auto;
    min-height: 14vh;
    max-height: 14vh;
    aspect-ratio: 1.4 / 1.7;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
}
#MyDocuments-img{
    background-image: url("/src/assets/icons/directory_open_file_mydocs-5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}













#taskbar{
    aspect-ratio: 16 / 9;
    height: auto;
    min-height: 7.5%;
    max-height: 7.5%;
    position: absolute;
    
    width: 99.5vw;
    background-color: rgb(192, 188, 188);
    bottom: 0;
    border: 0.25vw solid rgb(245, 245, 245);
    display: flex;
    align-items: center;
}

#StartButton{
    border-top: 0.5vh solid white;
    border-left: 0.5vh solid white;
    border-bottom: 0.5vh solid black;
    border-right: 0.5vh solid black;
    width: auto;
    min-width: 9%;
    max-width: 9%;
    height: auto;
    min-height: 80%;
    max-height: 80%;
    margin-left: 0.1%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    user-select: none;
    aspect-ratio: 8 / 80;
    
}
.siderbar1{
  height: 80%;
  width: 0.05vw;
  float: left;
  margin-left: 0.1%;
  border-right: rgb(255, 255, 255) solid 0.15vw;
  border-left:rgb(156, 154, 154) solid 0.15vw;
  aspect-ratio: 16 / 9;
}

.siderbar2{
    height: 50%;
    width: 0.05vw;
    float: left;
    margin-left: 0.5%;
    border-right: rgb(156, 154, 154) solid 0.25vw;
    border-bottom: rgb(156, 154, 154) solid 0.25vw;
    border-left:rgb(255, 255, 255) solid 0.25vw;
    aspect-ratio: 16 / 9;
}
#start-img{
    background-image: url("/src/assets/icons/windows-0.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    float: left;
    aspect-ratio: 1 / 1;
}
#start-text{
    width: 100%;
    height: 100%;
    float: right;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7vw;
    font-weight: bolder;
    font-family:  'MyWebFont', Fallback, sans-serif;
    aspect-ratio: 1 / 1;
}



#InternetApps{
    width: auto;
    min-width: 15%;
    max-width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16 / 9;
}
.internet-img{
 width: auto;
 min-width: 18%;
 max-width: 18%;
 margin-left: 5%;
 aspect-ratio: 1 / 1;
 float: left;
}

#internet1-img{
    background-image: url("/src/assets/icons/msie1-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#internet2-img{
    background-image: url("/src/assets/icons/outlook_express-5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#internet3-img{
    background-image: url("/src/assets/icons/shell_window3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#internet4-img{
    background-image: url("/src/assets/icons/channels-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}






#sidebarRight{
    position: absolute;
    right: 0;
    margin-right: 16.25%;
}


#FakeTime{
    user-select: none;
    position: absolute;
    padding-left: 3px;
    padding-right: 3px;
    right:0;
    height: 70%;
    width: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.1%;
    font-size: 1.25vw;
    font-weight: bolder;
    font-family:  'MyWebFont', Fallback, sans-serif;
    border-left: rgb(156, 154, 154) solid 0.2vw;
    border-top: rgb(156, 154, 154) solid 0.2vw;
    border-right:rgb(255, 255, 255) solid 0.2vw;
    border-bottom:rgb(255, 255, 255) solid 0.2vw;
}









#OpenApps{
    width: 15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5%;
}
#fileExplorer{
    border-left: rgb(0, 0, 0) solid 0.2vw;
    border-top: rgb(0, 0, 0) solid 0.2vw;
    border-right:rgb(255, 255, 255) solid 0.2vw;
    border-bottom:rgb(255, 255, 255) solid 0.2vw;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, transparent 50%, #cfcfcf 50%),
    linear-gradient(to right, #f3f3f3 50%, #c4c4c4 50%);
    background-size: 3px 3px, 3px 3px;
    box-shadow: 0.5px 1px #888888;
    user-select: none;
}
#fileExplorer-icon{
    float: left;
    background-image: url("/src/assets/icons/directory_explorer-5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: auto;
    min-width: 12%;
    max-width: 12%;
    margin-right: 5%;
    margin-left: 2%;
    aspect-ratio: 1 / 1;
    
}
#fileExplorer-text{
    font-weight: bolder;
    font-family:  'MyWebFont', Fallback, sans-serif;
    font-size: 1.25vw;
}













